<style>
    #sl3waboutstia{
        width: 100%;
        height: 500px;
        background: lightgray;
        
    }
    
     .text-center{ 
        display: flex;
        align-items: center;
        justify-content: center;
 
    }
</style>
<div class="container" id= "sl3waboutstia">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Commodi, quasi, laboriosam, nulla, accusamus ratione eaque aut 
               delectus animi possimus esse illum dolor. Odit delectus dolorum
               modi earum quidem totam cum?</p>
            </div>
        </div>
    </div>
</div>