
<div id="foodMenu" class="text-center container">
    <div class="row">
        <div class="col-md-12">
            <h1>Menu</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <%=link_to "LUNCH", menus_lunch_index_path %> 
        </div>
        <div class="col-md-6">
           <%=link_to "DINNER", menus_dinner_index_path %>
        </div>
    </div>
</div>