<div id="menu">
    <!-- Navigation --> 
    <div class="agiletopbar">
    	<div class="wthreenavigation">
    		<div class="menu-wrap">
    			<nav class="menu">
    			    <br></br> 
    			    <a id='menu-logo' class="scroll" href="<%= root_path%>"> 
    			           <i class="fa fa-pie-chart"></i>
    			           <span style="font-size:1.2em">Lucia's Pizza</span> 
    			    </a> 
    				<div id = 'menu-link' class="icon-list">
    				    <a  class="scroll" href="<%= slogan_path(anchor: 'slogan')%>"><i class="fa fa-home"></i><span>Home</span></a>
    					<a  class="scroll" href="<%= about_path(anchor: 'about')%>"><i class="fa fa-info"></i><span style="padding-left: 6px;">About</span></a>
    					<a  class="scroll" href="<%=menus_path(anchor: 'foodMenu') %>"><i class="fa fa-cutlery"></i><span>Food</span></a>
    					<a  class="scroll" href="#contact"><i class="fa fa-phone"></i><span>Contact</span></a>
    				</div> 
    			</nav>
    			<button class="close-button" id="close-button">Close Menu</button>
    			<h4 class="scroll">Deal of the Day</h4>
    		</div>
    		<button class="menu-button" id="open-button">Open Menu</button>
    	</div>
    	<div class="agileinfomenu">
    		<p>MENU</p>
    	</div>
    	<div class="aitslogow3ls">
    			<a href="index.html"><div class="agilelogo">Lucia Pizza</div></a>
    	</div>
    	<div class="wthreecontact">
    		<p><a class="scroll" href="#contact">
    		    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    		    CONTACT US</a>
    		</p>
    	</div>
    	<div class="clearfix"></div>
    </div>
    <!-- //Navigation -->
</div>    
    
    
