<style>
    .agiletopbar{
        background: #fff;
        width: 100%;
        position: fixed;
        z-index: 1001;
    }
</style>

<div class="aitsheaderw3ls" id="agilehome">
    <!-- Navigation -->
    <div class="agiletopbar">
    	<div class="wthreenavigation">
    		<div class="menu-wrap">
    			<nav class="menu">
    				<div id = 'menu-link' class="icon-list">
    					<a  class="scroll" href="#agilehome"><i class="fa fa-home"></i><span>Home</span></a>
    					<a  class="scroll" href="#sl3waboutstia"><i class="fa fa-info"></i><span>About</span></a>
    					<a  class="scroll" href="#aitscontactw3l"><i class="fa fa-phone"></i><span>Contact</span></a>
    				</div>
    			</nav>
    			<button class="close-button" id="close-button">Close Menu</button>
    		</div>
    		<button class="menu-button" id="open-button">Open Menu</button>
    	</div>
    	<div class="agileinfomenu">
    		<p>MENU</p>
    	</div>
    	<div class="aitslogow3ls">
    			<a href="index.html"><div class="agilelogo">Tout dé Cake</div></a>
    	</div>
    	<div class="wthreecontact">
    		<p><a class="scroll" href="#aitscontactw3l"><i class="fa fa-envelope-o" aria-hidden="true"></i> CONTACT US</a></p>
    	</div>
    	<div class="clearfix"></div>
    </div>
    <!-- //Navigation -->
</div>    
    
    
