<div id="menu">
    <!-- Navigation --> 
    <div class="navbar-pos">
    	<div class="_3navbar">
    		<div class="menu-wrap">
    			<nav class="menu">
    			    <br></br> 
    			    <a id='menu-logo' class="scroll" style= 'pointer-events: none;cursor: default;'> 
    			           <i class="fa fa-pie-chart"></i>
    			           <span style="font-size:1.2em">Lucia's Pizza</span> 
    			    </a> 
    				<div id = 'menu-link' class="icon-list">
    				    <a  class="scroll" href="<%= slogan_path(anchor: 'slogan')%>"><i class="fa fa-home"></i><span>Home</span></a>
    					<a  class="scroll" href="<%= about_path(anchor: 'about')%>">
    					    <i class="fa fa-info" style="padding-left: 3px;"></i>
    					    <span style="padding-left: 3px;">About</span>
    					 </a>
    					<a  class="scroll" href="<%=menus_path(anchor: 'foodMenu') %>"><i class="fa fa-cutlery"></i><span>Food</span></a>
    					<a  class="scroll" href="#contact"><i class="fa fa-phone"></i><span>Contact</span></a>
    				</div> 
    			</nav>
    			<button class="close-button" id="close-button">Close Menu</button>
    			<h4 class="scroll">Deal of the Day</h4>
    		</div>
    		<button class="menu-button" id="open-button">Open Menu</button>
    	</div>
    	<div class="menu-len">
    		<p>MENU</p>
    	</div>
    	<div class="logo-len">
    	        <%= link_to "Lucia's Pizza", nil , class: 'logo', style: 'pointer-events: none;cursor: default;'%>    	</div>
    	<div class="contact-navsec">
    		<p><a class="scroll" href="#contact">
    		    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    		    CONTACT US</a>
    		</p>
    	</div>
    	<div class="clearfix"></div>
    </div>
    <!-- //Navigation -->
</div>    
    
    
