<div class="container-fluid" id= "about" >
    <div  class="row" >
        <div class="col-md-12">
               All, We Offer
               <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
               Commodi, quasi, laboriosam, nulla, accusamus ratione eaque aut 
               delectus animi possimus esse illum dolor. Odit delectus dolorum
               modi earum quidem totam cum?
               </p>
        </div>
    </div>
</div>