<section  class="container-fluid" id="about">
<div class="jumbotron" id="jumbo-about" > 
    <div class="row">
        <div class="col-md-12 text-center">
            <div style="font-size:22px">All, We Offer is taste of KINDNESS</div>
            <p style="font-size:20px;">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint voluptate 
                architecto laboriosam odit nobis provident possimus, fugit molestias iste minus
                reiciendis hic vitae harum laudantium pariatur deleniti nesciunt ex sit.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi perspiciatis, 
            cum sint totam aperiam eius! Totam, cum eum fuga aut, 
            magnam nihil, cumque, numquam repellat ullam nam incidunt eligendi tempora.
            </p>
        </div>
    </div>
</div>
</section>