<div class="container-fluid" id="slogan">
  <div class="row">
    <div class="col-sm-12 col-md-12">
        <%#= video_tag(
              ['pizza_brighter.webm', 'pizza_brighter.m4v','pizza_brighter.ogg'],
              id: 'vid', 
              autoplay: true,
              loop: true,
              muted: false,
              poster: 'poster2.webp'
            )
          %>
          <video  id='vid' autoplay  muted poster= "poster.jpg">
            <source src="/assets/pizza_brighter.webm#t=1,8" type='video/webm;codecs="vp8, vorbis"'>
            <source src="/assets/pizza_brighter.mp4#t=1,8"  type='video/mp4;codecs="avc1.42E01E, mp4a.40.2"' />
            <source src="/assets/pizza_brighter.m4v#t=1,8">
          </video>
          <div class="overlay-desc">
            <h3>PIZZA OR NOT PIZZA, THAT IS THE QUESTION?</h3>
            <br>
            <h4><%= number_to_currency 12.99%> Large with 2 toppings</h4> 
            <!--got rid of bootsrap/buttons temporarly -->
            <%#= link_to "tel:3106596171" do %>
              <%#= content_tag :button, 'Call Now' , class: 'btn btn-danger'%>
            <%#end%> 
          </div>
    </div>
  </div>
</div>
