<div class="container-fluid" id="slogan">
  <div class="row">
    <div class="col-sm-12 col-md-12">
        <video id="vid" class="embed-responsive" autoplay muted  poster="/assets/poster2.webp"  > 
             <!--<source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>-->
             <!--<source src="/assets/stock-footage-pizza-and-potato-chips.mp4" type=video/mp4>-->
             <!--<source src="/assets/stock-footage-pizza-and-potato-chips.webm" type=video/webm>-->
             <!--<source src="/assets/stock-footage-pizza-and-potato-chips.mov" type=video/mov>-->
             <source src=/assets/pizza.webm type=video/webm>
        </video> 
        <h1 class="overlay-desc">welcome to my world</h1>
    </div>
  </div>
</div>