<style>
    .container{
        padding-top: 250px;
    }
</style>
   


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Lunch#index</h1>
<p>Find me in app/views/lunch/index.html.erb</p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, in aliquam illum voluptates odit impedit harum ipsum fugiat reiciendis minus. Repellendus, accusamus voluptatem reiciendis id dolore laudantium deleniti saepe. Dolore.

        </div>
    </div>
</div>

<h1><%= controller.controller_name %></h1>